/* header section */
.header{
    margin-top: 4px;
    background-color: khaki;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
/* 10 best writers */
.writers{
    color:tomato;
}
/* total budget */
.total{
    color:hotpink;
}